Source: adaptation-droidian-oriole
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 13), gcc, batman-dev
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-oriole
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-oriole.git

Package: adaptation-droidian-oriole
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api32-phone,
         adaptation-oriole-configs,         
         droidian-camera,
         wlr-randr,
         libbatman-wrappers,
Description: adaptation-droidian-oriole - meta
 Pixel 6 api32 adaptation metapackage

Package: adaptation-oriole-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Pixel 6's specific adaptation configs
