ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="system", GROUP="system", MODE="0400"
ACTION=="add", KERNEL=="ashmem*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="system", MODE="0222"
ACTION=="add", KERNEL=="dma_heap/system", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/system-uncached", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/system-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="uhid", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="v4l-touch*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="kvm", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="vhost-vsock", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="exynos-mem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev3", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev4", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev5", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev6", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev7", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev8", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev9", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev10", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev11", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev12", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev13", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev14", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev15", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev16", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev17", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev18", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev19", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev21", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev32", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video26", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video24", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video30", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video31", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video50", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video55", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="g2d", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="fimg2d", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tsmux", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="repeater", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video8", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video9", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video10", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video11", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hdcp2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_jpeg", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="seiren", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_output_tuning", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_bulk_tx", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_bulk_rx", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_input_tuning", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_input_bulk_tx", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_input_bulk_rx", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-sound_trigger", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-hotword_notification", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-hotword_pcm", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-ambient_pcm", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-model_data", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-debug", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_tap*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="acd-audio_dcdoff_ref", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="amcs", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="s5p-smem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/modem", OWNER="root", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/modem_a", OWNER="root", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/modem_b", OWNER="root", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="umts_dm0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_router", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_boot0", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="oem_ipc*", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="oem_test", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="vertex0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vertex1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="aoc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="acd-com.google.usf", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="acd-com.google.usf.non_wake_up", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="lwis*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="st21nfc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="st54j_se", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="st54spi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="st33spi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bigocean", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="trusty-ipc-dev0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="trusty-log0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sg1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="gsc0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/frp", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/mfg_data", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="janeiro", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="gxp", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="dit2", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySAC18", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="btpower", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="wbrc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tui-driver", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="dma_heap/crypto", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/crypto-uncached", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/faceauth_tpu-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/faimg-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/famodel-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/faprev-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/farawimg-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/tui-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/vframe-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/vscaler-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/vstream-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/sensor_direct_heap", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/aaudio_playback_heap", OWNER="system", GROUP="audio", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/aaudio_capture_heap", OWNER="system", GROUP="audio", MODE="0444"
ACTION=="add", KERNEL=="logbuffer_pca9468_tcpm", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="hidraw*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="wlan", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", RUN+="/bin/sh -c 'chown droidian:droidian /sys/class/backlight/panel0-backlight/*'"
ACTION=="add", RUN+="/bin/sh -c 'chown droidian:droidian /sys/class/backlight/lcd-bl/*'"
ACTION=="add", KERNEL=="rfkill", OWNER="droidian", GROUP="droidian", MODE="0666"
